@import "../global.css";
@import "../pic/pic.css";
@import "../login/login.css";

body {
    background: radial-gradient(circle, var(--accent-dark-2) 10%, var(--accent-dark-1) 100%);
}

.card {
    flex: 1;
    width: 336px;
    height: 487px;
    padding-right: 100px;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 70vw;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    margin-left: 20px;
    padding-right: 67px;
}

.logintop {
    flex: 1;
    min-width: 0;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 70vh;
    width: 90%;
    padding: 0 64px 0 128px;
}

.label {
    font-family: var(--font-french-canon);
    align-self: flex-start;
}

.infotainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 460px;
}

.midtainer {
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: 422px;
    justify-content: start;
    padding-right: 38px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-right: 64px;
}

.back {
    border: none;
    background-color: var(--accent-dark-1);
}

.infotainer input.credential {
    display: block;
    height: 90%;
    width: 416px;
    max-width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
    line-height: normal;
    color: var(--primary-2);
    background-color: var(--primary-1);
}

.infotainer input.credential:focus {
    outline: none;
    border-color: var(--secondary-1);
    box-shadow: 0 0 5px var(--secondary-1);
}

.infotainer input.midcredential {
    width: 200px;
}
