@import "../global.css";

body {
    background: radial-gradient(circle, var(--accent-dark-2) 10%, var(--accent-dark-1) 100%);
    position: relative;
    height: 300vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 8vh;
    padding: 6px;
    background-color: #0A0B01;
    border-bottom: #252618 solid 1px;
}

.navbar .title {
    font-family: var(--font-comforter);
    color: var(--secondary-1);
    font-size: 36px;
}

.navbar .title p {
    margin: 0;
    padding: 7px 0 0 100px;
    white-space: nowrap;
}

.navbar .hover {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    gap: 20px;
}

.navbar .hover p {
    margin: 15px 0 0 50px;
    font-family: 'IM Fell French Canon', serif;
    font-size: 25px;
    display: flex;
    gap: 20px;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
    transition: text-shadow 0.05s ease-in-out, color 0.05s ease-in-out;
}

.navbar .hover p:hover {
    color: #FFFFFF;
    text-shadow: 
    0 0 30px #EBECDA, 
    0 0 60px #EBECDA,
    0 0 10px #EBECDA,
    0 0 10px #EBECDA;
    cursor: pointer;
}

.navbar .setting {
    display: flex;
    width: 10%;
}

.navbar .setting .icon {
    width: 35px;
    height: 35px;
    background-color: #252618;
    border-radius: 50%;
    margin-top: 10px;
}

.navbar .setting .icon:hover {
    background-color: #EBECDA;
    cursor: pointer;
}