@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Island+Moments&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap');

:root {
    /* Fonts */
    --font-comforter: "Comforter", sans-serif; /* Cursive-like */
    --font-varela: "Varela", sans-serif; /* Arial-like */
    --font-french-canon: "IM Fell French Canon", sans-serif; /* TNR-like */
    --font-island: "Island Moments", sans-serif; /* Cursive-like */
    --font-scary: "IM Fell Great Primer", sans-serif; /* TNR but made by a frenchman */

    /* Colors */
    --accent-dark-1: #0c0d01;
    --accent-dark-2: #252618;
    --accent-dark-3: #595959;
    --primary-1: #6f6f44;
    --primary-2: #ebedd4;
    --secondary-1: #246638;

    /* Font Sizes */
    --f-xs: 12px;
    --f-small: 16px;
    --f-normal: 24px;
    --f-medium: 32px;
    --f-l: 52px;
    --f-ml: 70px;
    --f-xl: 140px;
    --f-xxl: 180px;

    /* Border Sizes */
    --spacing-button: 100px;
}

body {
    background: radial-gradient(circle, var(--accent-dark-2) 10%, var(--accent-dark-1) 100%);
    position: relative;
    height: 300vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 8vh;
    padding: 6px;
    background-color: #0A0B01;
    border-bottom: #252618 solid 1px;
}

.navbar .title {
    font-family: var(--font-comforter);
    color: var(--secondary-1);
    font-size: 35px;
}

.navbar .title p {
    margin: 0;
    padding: 7px 10px 0 100px;
    white-space: nowrap;
}

.navbar .title a {
    color: var(--secondary-1);
    text-decoration: none;
}

.navbar .title a:visited {
    color: var(--secondary-1);
    text-decoration: none;
}

.navbar .hover {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    gap: 20px;
}

.navbar .hover p {
    margin: 15px 0 0 50px;
    font-family: 'IM Fell French Canon', serif;
    font-size: 25px;
    display: flex;
    gap: 20px;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
    transition: text-shadow 0.05s ease-in-out, color 0.05s ease-in-out;
}

.navbar .hover p:hover {
    color: #FFFFFF;
    text-shadow: 
    0 0 30px #EBECDA, 
    0 0 60px #EBECDA,
    0 0 10px #EBECDA,
    0 0 10px #EBECDA;
    filter: blur(0); 
    cursor: pointer;
}

.navbar .setting {
    display: flex;
    width: 10%;
}

.navbar .setting .icon {
    width: 35px;
    height: 35px;
    background-color: #252618;
    border-radius: 50%;
    margin-top: 10px;
}

.navbar .setting .icon:hover {
    background-color: #EBECDA;
    cursor: pointer;
}

.navbar .setting .icon .popup-container {
    display: none;
    position: absolute;
    background-color: #0A0B01;
    width: 150px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    margin-top: 52px;
}

.navbar .setting .icon:hover .popup-container {
    display: block;
}

.navbar .setting .icon .popup-container .popup-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.navbar .setting .icon .popup-container .popup-content a {
    color: #EBECDA;
    text-decoration: none;
    padding: 5px 0;
}
.green {
    color: var(--secondary-1);
}