@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Island+Moments&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap');

:root {
    /* Fonts */
    --font-comforter: "Comforter", sans-serif; /* Cursive-like */
    --font-varela: "Varela", sans-serif; /* Arial-like */
    --font-french-canon: "IM Fell French Canon", sans-serif; /* TNR-like */
    --font-island: "Island Moments", sans-serif; /* Cursive-like */
    --font-scary: "IM Fell Great Primer", sans-serif; /* TNR but made by a frenchman */

    /* Colors */
    --accent-dark-1: #000000;
    --accent-dark-2: #030C02;
    --accent-dark-3: #595959;
    --primary-1: #6f6f44;
    --primary-2: #ebedd4;
    --secondary-1: #246638;

    /* Font Sizes */
    --f-xs: 12px;
    --f-small: 16px;
    --f-normal: 24px;
    --f-medium: 32px;
    --f-l: 52px;
    --f-ml: 70px;
    --f-xl: 140px;
    --f-xxl: 180px;

    /* Border Sizes */
    --spacing-button: 100px;
}

body {
    background: radial-gradient(circle, var(--accent-dark-2) 0%, var(--accent-dark-1) 90%);
    position: relative;
    height: 300vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 8vh;
    padding: 6px;
    background-color: #0A0B01;
    border-bottom: #252618 solid 1px;
}

.navbar .title {
    font-family: var(--font-comforter);
    color: var(--secondary-1);
    font-size: var(--f-medium);
}

.navbar .title p {
    margin: 0;
    padding: 7px 10px 0 100px;
    white-space: nowrap;
}

.navbar .title a {
    color: var(--secondary-1);
    text-decoration: none;
}

.navbar .title a:visited {
    color: var(--secondary-1);
    text-decoration: none;
}

.navbar .hover {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    gap: 20px;
}

.navbar .hover p {
    margin: 15px 0 0 50px;
    font-family: 'IM Fell French Canon', serif;
    font-size: var(--f-normal);
    display: flex;
    gap: 20px;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
    transition: text-shadow 0.05s ease-in-out, color 0.05s ease-in-out;
}

.navbar .hover p:hover {
    color: #FFFFFF;
    text-shadow: 
    0 0 30px #EBECDA, 
    0 0 60px #EBECDA,
    0 0 10px #EBECDA,
    0 0 10px #EBECDA;
    filter: blur(0); 
    cursor: pointer;
}

.navbar .setting {
    display: flex;
    width: 10%;
}

.navbar .setting .icon {
    width: 35px;
    height: 35px;
    background-color: #252618;
    margin-top: 10px;
}

.navbar .setting .icon:hover {
    background-color: #0A0B01;
    border: solid 1px #252618;
    cursor: pointer;
}

.navbar .setting .icon .popup-container {
    display: none;
    position: absolute;
    background-color: #0A0B01;
    width: 250px;
    margin-top: 36px;
    margin-left: -150px;
    border-bottom: solid 1px #252618;
}

.navbar .setting .icon:hover .popup-container {
    display: block;
}

.navbar .setting .icon .popup-container .popup-content {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.navbar .setting .icon:hover .popup-container .popup-content {
    display: block;
}

.navbar .setting .icon .popup-container .popup-content a {
    display: block;
    color: #EBECDA;
    text-decoration: none;
    padding: 0.1px 0 0 0;
    margin: 0;
    text-align: center;
    font-family: 'IM Fell French Canon', serif;
    font-size: var(--f-normal);
}

.navbar .setting .icon .popup-container .popup-content a:hover {
    color: #FFFFFF;
    text-shadow: 
    0 0 30px #EBECDA, 
    0 0 60px #EBECDA,
    0 0 10px #EBECDA,
    0 0 10px #EBECDA;
    filter: blur(0); 
    cursor: pointer;
}

.navbar .setting .icon .popup-container .popup-content .divider {
    width: 80%;
    height: 1px;
    background-color: #252618;
    margin: 0px 25px;
}

.navbar .setting-unregistered {
    display: flex;
    justify-content: flex-end;
    justify-items: space-evenly;
    width: auto;
    padding-top: 15px;
    padding-right: 70px;
    gap: 20px;
}

.green {
    color: var(--secondary-1);
}

.navbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    font-family: var(--font-island);
    font-size: var(--f-normal);
    color: var(--primary-2);
    background-color: var(--accent-dark-3);
    border: solid;
    border-color: var(--primary-2);
    border-width: 1px;
    width: 100px;
    border-radius: 5px;
}

.audier {
    cursor: pointer;
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 0;
    width: 3vw;
    height: 5vh;
    font-size: var(--f-normal);
    z-index: 50;
}

.framer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    z-index: 2;
}