@import "../global.css";

body {
    background: radial-gradient(circle, var(--accent-dark-2) 10%, var(--accent-dark-1) 100%);
    position: relative;
    height: 300vh;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 100px;
    width: 70%;
}

.main .contentbox {
    width: 90%;
    height: 2000px;
}

.main .contentbox .forumbox {
    display: flex;
    height: 140px;
    background-color: #0A0B01;
    border: solid 1px #252618;
}


.main .contentbox .forumbox .pfp {
    width: 75px;
    height: 75px;
    background-color: #0A0B01;
    border: solid 1px #757849;
    margin: 22px 5px 15px 25px;
}

.main .contentbox .forumbox .titlebox {
    width: 80%;
    margin-left: 20px;
}

.main .contentbox .forumbox .titlebox .title {
    font-family: 'IM Fell French Canon', serif;
    color: #EBECDA;
    font-size: 22px;
    letter-spacing: 1.6px;
    margin: 20px 0 8px 0;
}

.main .contentbox .forumbox .titlebox .info {
    display: flex;
    gap: 10px;
}

.main .contentbox .forumbox .titlebox .info .author,.date {
    font-family: 'Varela', sans-serif;
    color: #757849;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
}

.main .contentbox .forumbox .titlebox .info .divider {
    height: 10px;
    width: 1px;
    margin-top: 3px;
    border-right: solid;
    border-width: 1px;
    background-color: white;
}

.main .contentbox .forumbox .titlebox .tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.main .contentbox .forumbox .titlebox .tags p {
    font-family: 'Varela', sans-serif;
    color: #757849;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
    padding: 1px 6px;
    border: 1px solid #757849;
}

.main .contentbox .forumbox .vote {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.main .contentbox .forumbox .vote .upvote {
    border-left: 22px solid transparent;   
    border-right: 22px solid transparent;  
    border-bottom: 30px solid #16361B;
    margin: 20px 30px auto auto;
}

.main .contentbox .forumbox .vote .downvote {
    border-top: 30px solid #5D0D0D;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent; 
    margin:  auto 30px 20px auto;
}

.main .contentbox .postcontent {
    display: flex;
    flex-direction: column;
    background-color: #0A0B01;
    border: solid 1px #252618;
    justify-content: center;
    container-type: inline;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-family: var(--font-french-canon);
    color: #EBECDA;
    padding: 20px;
}


.main .contentbox .replies {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.replybar {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.replybutton {
    width: 45px;
    padding: 5px;
    background-color: #0A0B01;
    border: solid 1px #252618;
    color: #EBECDA;
}

.lockbutton {
    width: 45px;
    padding: 5px;
    background-color: #0A0B01;
    border: solid 1px #252618;
    color: #EBECDA;
}

.reply{
    display: flex;
    gap: 20px;
    background-color: #0A0B01;
    border: solid 1px #252618;
}

.replies .pfp{
    width: 75px;
    height: 75px;
    background-color: #0A0B01;
    border: solid 1px #757849;
    margin: 22px 5px 15px 25px;
}

.replybox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.replyauthor{
    font-size: var(--f-normal);
    letter-spacing: 0.5px;
    font-family: var(--font-french-canon);
    color: #EBECDA;
}

.replycontent {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: var(--font-french-canon);
    color: #EBECDA;
}

.replyWquote {
    display: flex;
    gap: 20px;
    background-color: #0A0B01;
    border: solid 1px #252618;
}

.replybox {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.replyWquote .quote {
    display: flex;
    flex-direction: column;
    background-color: #0A0B01;
    border: solid 1px #757849;
}

.quoted {
    font-size: 16px;
    letter-spacing: 0.5px;
    text-decoration: underline;
    font-family: var(--font-french-canon);
    /* width: 1200px; */
    color: #EBECDA;
    margin: 8px 10px 0 30px;
}

.quote .replycontent {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: var(--font-french-canon);
    color: #EBECDA;
    margin: 0 10px 8px 30px;
}

