@import "../global.css";

@keyframes flickerglow {
  0%, 100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  50% {
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
  }
  70% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  }
}

.anim-flickerglow {
    transition: all 0.5s ease-in-out;
    /* animation: name | duration | timing-function | iteration-count */
    animation: flickerglow 4s ease-in-out infinite;
}

body {
    height: 100vh;
    width: 100vw;
}

.centerer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.freaky {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    row-gap: 16px;
}

.freaky .title {
    font-family: var(--font-comforter);
    color: var(--secondary-1);
    font-size: var(--f-xxl);
    display: flex;
}

.freaky .subtitle {
    font-family: var(--font-french-canon);
    color: var(--primary-2);
    font-size: var(--f-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
    transition: text-shadow 0.05s ease-in-out, color 0.05s ease-in-out;
}

.freaky .subtitle:hover {
    color: #FFFFFF;
    text-shadow: 
    0 0 30px #EBECDA, 
    0 0 60px #EBECDA,
    0 0 10px #EBECDA,
    0 0 10px #EBECDA;
    filter: blur(0); 
    cursor: pointer;
}

.freaky a:visited {
    color: var(--primary-2);
    text-decoration: none;
}
