@import "../global.css";

body {
    background: radial-gradient(circle, var(--accent-dark-2) 10%, var(--accent-dark-1) 100%);
    position: relative;
    height: 300vh;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 110px;
    width: 70%;
}

.main .profilebox {
    width: 90%;
    height: 300px;
    display: flex;
    height: 200px;
    background-color: #0A0B01;
    border: solid 1px #252618;
}


.main .profilebox .pfp {
    width: 150px;
    height: 150px;
    background-color: #0A0B01;
    border: solid 1px #757849;
    margin: 22px 0 15px 18px;
    
}

.main .profilebox .title {
    
    color: #EBECDA;
    font-family: 'IM Fell French Canon', serif;
    font-size: 38px;
    margin: 18px 0 0 38px ;
}

.main .profilebox .subtitle {
    
    color: #EBECDA;
    font-family: 'Varela', serif;
    font-size: 13px;
    margin: 8px 0 0 38px ;
}

.main .profilebox .titlebox .info-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* color: #EBECDA;
    font-family: 'Varela', serif; */
    /* font-size: 13px; */
    /* gap: 10px; */
    margin: 40px 0 0 38px ;
    column-gap: -200px;

}

.main .profilebox .titlebox .info-item {
    
    color: #EBECDA;
    font-family: 'Varela', serif;
    font-size: 13px;

}



.line {
    height: 1px;
    width: 91%;
    margin-top: 6px;
    margin-bottom: 6px;
    border: solid;
    border-width: 1px;
    background-color: white;
}

.main .contentbox {
    width: 90%;
    height: 2000px;
}

.main .contentbox .forumbox {
    display: flex;
    height: 120px;
    background-color: #0A0B01;
    border: solid 1px #252618;
}

.main .contentbox .forumbox .pfp {
    width: 75px;
    height: 75px;
    background-color: #0A0B01;
    border: solid 1px #757849;
    margin: 22px 0 15px 20px;

}

.main .contentbox .forumbox .titlebox {
    margin-left: 20px;
    color: #EBECDA;
}
