.login-container1 {
  width: 100%;
  display: grid;
  min-height: 100vh;
  align-items: center;
  padding-top: 210px;
  justify-items: center;
  padding-bottom: 210px;
  background-image: radial-gradient(circle at center, rgb(3, 12, 2) 0.00%,rgb(0, 0, 0) 100.00%);
  grid-template-columns: repeat(1, 1fr);
}
 
.login-text1 {
  fill: var(--dl-color-freakish-secondary1);
  color: var(--dl-color-freakish-secondary1);
}
 
.login-container2 {
  width: 572px;
  height: 419px;
  display: grid;
  align-items: start;
  border-color: var(--dl-color-freakish-primary1);
  border-width: 1px;
  padding-left: var(--dl-layout-space-unit);
  justify-items: stretch;
  padding-right: var(--dl-layout-space-unit);
  background-color: var(--dl-color-freakish-accentdark1);
  grid-template-columns: repeat(1, 1fr);
}
 
.login-text2 {
  color: var(--dl-color-freakish-primary2);
  width: 316px;
  height: 66px;
  align-self: start;
  min-height: auto;
  text-align: center;
  font-family: "Verdana";
  padding-top: var(--dl-layout-space-oneandhalfunits);
  justify-self: center;
}
 
.login-container3 {
  width: 100%;
  height: 137px;
  display: grid;
  justify-self: center;
}
 
.login-textinput1 {
  fill: var(--dl-color-freakish-primary2);
  color: var(--dl-color-freakish-primary2);
  width: 90%;
  height: 44px;
  display: block;
  align-self: center;
  justify-self: center;
  padding-bottom: 0px;
  background-color: var(--dl-color-freakish-primary1);
}
 
.login-textinput2 {
  fill: var(--dl-color-freakish-primary2);
  color: var(--dl-color-freakish-primary2);
  width: 90%;
  height: 44px;
  display: block;
  align-self: center;
  justify-self: center;
  padding-bottom: 0px;
  background-color: var(--dl-color-freakish-primary1);
}
 
.login-text3 {
  fill: var(--dl-color-freakish-primary1);
  color: var(--dl-color-freakish-primary1);
  padding-left: var(--dl-layout-space-twounits);
}
 
.login-button1 {
  fill: var(--dl-color-freakish-primary2);
  color: var(--dl-color-freakish-primary2);
  width: 200px;
  height: 50px;
  justify-self: center;
  background-color: var(--dl-color-freakish-accentdark2);
}
 
.login-separator {
  width: 90%;
  height: 1px;
  display: block;
  background-color: #595959;
}
 
.login-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: grid;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  justify-items: center;
  padding-right: var(--dl-layout-space-unit);
  grid-template-columns: repeat(2, 1fr);
}
 
.login-button2 {
  fill: var(--dl-color-freakish-primary2);
  color: var(--dl-color-freakish-primary2);
  width: 90%;
  height: 50px;
  justify-self: center;
  background-color: var(--dl-color-freakish-accentdark2);
}
 
.login-button3 {
  fill: var(--dl-color-freakish-primary2);
  color: var(--dl-color-freakish-primary2);
  width: 90%;
  height: 50px;
  justify-self: center;
  background-color: var(--dl-color-freakish-accentdark2);
}
 
.login-container5 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.login-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.login-text4 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
