@import "../global.css";

body {
    background: radial-gradient(circle, var(--accent-dark-2) 10%, var(--accent-dark-1) 100%);
    position: relative;
    height: 300vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

.main .contentbox {
    width: 90%;
    height: 4000px;
}

.main .contentbox .settingsbox {
    height: 1200px;
    background-color: #0A0B01;
    border: solid 1px #252618;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .contentbox .settingsbox .titlebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
}

.main .contentbox .settingsbox .titlebox .title {
    font-size: 30px;
    font-family: var(--font-french-canon);
    color: var(--primary-2);
    font-weight: 600;

}

.main .contentbox .settingsbox .divider {
    width: 90%;
    height: 1px;
    background-color: #252618;
}

.main .contentbox .settingsbox .soundbox {
    width: 90%;
    height: 200px;
    display: flex;
}

.main .contentbox .settingsbox .soundbox .subtitle {
    font-size: 20px;
    font-family: var(--font-french-canon);
    color: var(--primary-2);
    letter-spacing: 1px;
}

.main .contentbox .settingsbox .soundbox .switch {
    width: 50px;
    height: 25px;
    background-color: #252618;
    border-radius: 15px;
    justify-content: end;
    cursor: pointer;
}

