@import "../global.css";

body {
    background: radial-gradient(circle, var(--accent-dark-2) 10%, var(--accent-dark-1) 100%);
    position: relative;
    height: 300vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

.main .contentbox {
    width: 90%;
    height: 4000px;
}

.main .contentbox .settingsbox {
    height: 300px;
    background-color: #0A0B01;
    border: solid 1px #252618;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .contentbox .settingsbox .titlebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
}

.main .contentbox .settingsbox .titlebox .title {
    font-size: 30px;
    font-family: var(--font-french-canon);
    color: var(--primary-2);
    font-weight: 600;

}

.main .contentbox .settingsbox .divider {
    width: 90%;
    height: 1px;
    background-color: #252618;
}

.main .contentbox .settingsbox .soundbox {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    font-size: 20px;
    font-family: var(--font-french-canon);
    color: var(--primary-2);
    letter-spacing: 1.2px;
    width: 900px;
}

.main .contentbox .settingsbox .soundbox .switch {
    width: 50px;
    height: 50px;
    background-color: #252618;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main .contentbox .settingsbox .soundbox .switch .switch-indicator {
    width: 20px;
    height: 20px;
    background-color: var(--primary-2);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.main .contentbox .buttonbox {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .contentbox .buttonbox .button {
    width: 50px;
    height: 50px;
    background-color: #252618;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;

    font-family: var(--font-varela);
}

.main .contentbox .buttonbox .button a {
    color: var(--primary-2);
    text-decoration: none;
}