@import "tailwindcss";

@theme {
  /* Fonts */
    --font-comforter: "Comforter", sans-serif; /* Cursive-like */
    --font-varela: "Varela", sans-serif; /* Arial-like */
    --font-french-canon: "IM Fell French Canon", sans-serif; /* TNR-like */
    --font-island: "Island Moments", sans-serif; /* Cursive-like */
    --font-scary: "IM Fell Great Primer", sans-serif; /* TNR but made by a frenchman */

    /* Colors */
    --color-accent-dark-1: #000000; /* Black-black */
    --color-accent-dark-2: #030C02; /* Blueish black */
    --color-accent-dark-3: #595959; /* Fifty shades of grey */
    --color-primary-1: #6f6f44; /* Pale Gold */
    --color-primary-2: #ebedd4; /* Peachy */
    --color-secondary-1: #246638; /* Green */
    --color-hover: #FFFFFF; /* Text color when hovering on */
    --color-glow: #EBECDA; /* Peachy-color for glowing */
    --color-olive: #0A0B01; /* Navbar color */
    --color-border: #252618; /* Light olive for borders */

    /* Font Sizes */
    --text-xxs: 10px;
    --text-xs: 12px;
    --text-small: 16px;
    --text-normal: 24px;
    --text-medium: 32px;
    --text-l: 52px;
    --text-ml: 70px;
    --text-xl: 140px;
    --text-xxl: 180px;

    /* Glow */
    --text-shadow-glow: 
      0 0 5px #fff,
      0 0 10px var(--color-glow), 
      0 0 20px var(--color-glow),
      0 0 30px var(--color-glow);
    --text-shadow-faint: 0 0 4px var(--color-glow);

    /* Border Sizes */
    --spacing-button: 100px;
}

body {
  background-color: black;
}

a {
    text-decoration: none;
}
