@import "tailwindcss";

@keyframes glow-pulse {
  0%, 100% {
    text-shadow: 0 0 4px var(--color-glow);
  }
  50% {
    text-shadow: 0 0 6px var(--color-glow), 0 0 8px var(--color-glow);
  }
}

@theme {
  /* Fonts */
    --font-comforter: "Comforter", sans-serif; /* Cursive-like */
    --font-varela: "Varela", sans-serif; /* Arial-like */
    --font-french-canon: "IM Fell French Canon", sans-serif; /* TNR-like */
    --font-island: "Island Moments", sans-serif; /* Cursive-like */
    --font-scary: "IM Fell Great Primer", sans-serif; /* TNR but made by a frenchman */

    /* Colors */
    --color-accent-dark-1: #000000; /* Black-black */
    --color-accent-dark-2: #030C02; /* Blueish black */
    --color-accent-dark-3: #595959; /* Fifty shades of grey */
    --color-primary-1: #6f6f44; /* Pale Gold */
    --color-primary-2: #ebedd4; /* Peachy */
    --color-secondary-1: #246638; /* Green */
    --color-hover: #FFFFFF; /* Text color when hovering on */
    --color-glow: #EBECDA; /* Peachy-color for glowing */
    --color-olive: #0A0B01; /* Navbar color */
    --color-border: #252618; /* Light olive for borders */
    --color-upvote: #16361B;/* Upvote color */
    --color-downvote: #5D0D0D;/* Downvote color */
    --color-info: #757849; /* For small info on post */

    /* Font Sizes */
    --text-xxxxs: 16px;
    --text-xxxs: 20px;
    --text-xxs: 22px;
    --text-xs: 24px;
    --text-small: 28px;
    --text-normal: 36px;
    --text-medium: 44px;
    --text-l: 64px;
    --text-ml: 82px;
    --text-xl: 152px;
    --text-xxl: 192px;

    /* Glow */
    --text-shadow-glow: 
      0 0 5px var(--color-glow),
      0 0 7px var(--color-glow),
      0 0 10px var(--color-glow);

    --text-shadow-faint: 0 0 10px rgba(255, 255, 255, 0.5);

    /* Border Sizes */
    --spacing-button: 100px;

    /* Idle glowing */
    --animate-pulse: glow-pulse 4s infinite ease-in-out;
}

@layer utilities {
  .border-post {
    border-width: 0.8px;
  }

@layer components {
  .badge {
    padding: 1px;
  }
}

  .border-badge {
    border-width: 0.6px;
  }
}