@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

@theme {
  /* Fonts */
    --font-comforter: "Comforter", sans-serif; /* Cursive-like */
    --font-varela: "Varela", sans-serif; /* Arial-like */
    --font-french-canon: "IM Fell French Canon", sans-serif; /* TNR-like */
    --font-island: "Island Moments", sans-serif; /* Cursive-like */
    --font-scary: "IM Fell Great Primer", sans-serif; /* TNR but made by a frenchman */

    /* Colors */
    --color-accent-dark-1: #000000; /* Black-black */
    --color-accent-dark-2: #030C02; /* Blueish black */
    --color-accent-dark-3: #595959; /* Fifty shades of grey */
    --color-primary-1: #6f6f44; /* Pale Gold */
    --color-primary-2: #ebedd4; /* Peachy */
    --color-secondary-1: #246638; /* Green */

    /* Font Sizes */
    --text-xs: 12px;
    --text-small: 16px;
    --text-normal: 24px;
    --text-medium: 32px;
    --text-l: 52px;
    --text-ml: 70px;
    --text-xl: 140px;
    --text-xxl: 180px;

    /* Border Sizes */
    --spacing-button: 100px;
}

body {
    background: radial-gradient(circle, var(--color-accent-dark-2) 0%, var(--color-accent-dark-1) 90%);
    position: relative;
    height: 300vh;
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.hover-glow {
  transition: text-shadow 0.1s ease-in-out, color 0.1s ease-in-out;
}

.hover-glow:hover {
  color: #FFFFFF;
  text-shadow: 0 0 30px #EBECDA, 0 0 60px #EBECDA, 0 0 10px #EBECDA, 0 0 10px #EBECDA;
}